@model List<RestaurantCategory>
@{
    ViewData["Title"] = "Index";
}

<section id="restaurants">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Restoranlar</h1>
            </div>
            @foreach (var item in Model.Where(c=>c.CategoryId==1))
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a asp-controller="@item.Restaurant.ControllerName" asp-action="Index">
                        <div class="card">
                            <div class="imgArea">
                                <img src="./assets/img/@item.Restaurant.ImageURL" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@item.Restaurant.Name</h5>
                                <p class="card-text">@item.Restaurant.Description</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>