@model List<FullOrder>
@{
    ViewData["Title"] = "MyOrders";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User FullName</th>
                        <th scope="col">Address</th>
                        <th scope="col">Order Item Count</th>
                        <th scope="col">Order Total</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AppUser.FullName</td>
                            <td>@item.Adress</td>
                            <td>@item.Orders.Count</td>
                            <td>@item.TotalCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>