    <!-- Footer Start -->
<footer>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#"><img height="120" src="~/assets/img/footerLogo.png" style="height:45px; margin:30px 0" alt=""></a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4>Proqramı endir</h4>
                    <a href="https://wolt.onelink.me/Uy67?pid=google&amp;c=AZE_Web_Search_Brand&amp;af_adset=not-available-web-to-app&amp;af_keywords=not-available-web-to-app&amp;af_sub1=not-available-web-to-app&amp;af_sub2=%2Faz%2Faze%2Fbaku&amp;af_r=https%3A%2F%2Fitunes.apple.com%2Ffi%2Fapp%2Fwolt%2Fid943905271%3Fmt%3D8" data-platform="ios" target="_blank">
                    <img height="55px" class="d-flex" src="~/assets/img/app-store.png" alt="">
                    </a>
                    <a href="https://wolt.onelink.me/Uy67?pid=google&amp;c=AZE_Web_Search_Brand&amp;af_adset=not-available-web-to-app&amp;af_keywords=not-available-web-to-app&amp;af_sub1=not-available-web-to-app&amp;af_sub2=%2Faz%2Faze%2Fbaku&amp;af_r=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.wolt.android" data-platform="android" target="_blank">
                    <img height="50px" class="d-flex" src="~/assets/img/play-store.png" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4>Gəlin, birlikdə edək</h4>
                    <ul>
                        <li><a href="#">Kuryerlər üçün</a></li>
                        <li><a href="#">Restoranlar üçün</a></li>
                        <li><a href="#">Mağazalar üçün</a></li>
                        <li><a href="#">Şirkətlər üçün</a></li>
                        <li><a href="#">Wolt Delivery üçün</a></li>
                        <li><a href="#">Işlər</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h4>Wolt linkləri</h4>
                    <ul>
                        <li><a asp-controller="ContactUs" asp-action="Index">Əlaqə</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Dəstək</a></li>
                        <li><a href="#">Wolt bloq</a></li>
                        <li><a href="#">Mühəndislik bloqu</a></li>
                        <li><a href="#">Məsuliyyət</a></li>
                        <li><a href="#">Təhlükəsizlik</a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">Haqqımızda</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p>© Wolt 2014–2022</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="#">
                                    <p>Əlçatanlıq bəyanatı</p>
                                </a>
                            </div>
                            <div class="col-lg-6">
                                <a href="#">
                                    <p>Şərtlər və müddəalar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <ul class="social-media">
                        <li><a href="https://instagram.com/woltapp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/woltapp" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/woltapp/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/wolt-oy/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="#" class="ScrollToTop"><i class="bi bi-chevron-up"></i></a>
    </section>
</footer>
<!-- Footer End -->