@model ChangeEmailDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords"
          content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="~/assets/img/tabLogo.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/pages-sign-in.html" />

    <title>Wolt - Change Email</title>

    <link href="~/Admin/assets/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <main class="d-flex w-100" style="background-image:url(/assets/img/ForgotPassword.jpg)">
        <div class="container d-flex flex-column">
            <div class="row vh-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">
                        <div class="text-center text-white mt-4">
                            <h1 class="h2 text-white">Welcome back</h1>
                            <p class="lead">
                                Sign in to your account to continue
                            </p>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <div class="text-center">
                                        <img src="~/Admin/assets/img/avatars/default-avatar.png" alt="Charles Hall"
                                             class="img-fluid rounded-circle" width="132" height="132" />
                                    </div>
                                    <div class="text-center text-muted mb-4">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>
                                    <form method="post">
                                        <div class="mb-3">
                                            <input class="form-control form-control-lg" asp-for="NewEmail"
                                                   placeholder="Enter your New Email" />
                                            <span asp-validation-for="NewEmail" class="text-danger"></span>
                                            <small>
                                                <a asp-action="ForgotPassword">Forgot password?</a>
                                            </small>
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control form-control-lg" asp-for="Password"
                                                   placeholder="Enter your password" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <div class="text-center mt-3 mx-1">
                                                <button type="submit" class="btn btn-lg btn-primary">Save Change</button>
                                            </div>
                                            <div class="text-center mt-3 mx-1">
                                                <a asp-controller="Account" asp-action="AccountProfil" class="btn btn-lg btn-primary">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/Admin/assets/js/app.js"></script>
</body>

</html>