@{
    ViewData["Title"] = "ConfirmEmail";
}
<section style="background-image:url(/assets/img/ForgotPassword.jpg); height:600px">
    <div class="container h-100">
        <div class="row w-100 h-100">
            <div class="col-lg-12 h-100">
                <div class="text-center text-white d-flex align-items-center justify-content-center flex-column h-100">
                    <h1>ConfirmEmail</h1>
                    <h3>
                        Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>